<!-- <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can 
        create this jumbotron, just like the one in previous versions of 
        Bootstrap. Check out the examples below for how you can remix and 
        restyle it to your liking.
        </p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div> -->

<!-- <div class="p-5 mb-4 bg-light rounded-3"> -->
<div class="mb-5">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let alumno of listadoAlumnos"> -->
            <tr>
                <!-- <td>{{alumno.legajo}}</td>
                <td>{{alumno.apellido}}</td>
                <td>{{alumno.nombre}}</td> -->
                <td>Matrix</td>
                <td>Comedia</td>
                <td>LA FOTO</td>
                <td>
                    <!-- <button type="button" class="btn btn-info btn-circle" (click)="mostrarDetalles(alumno)">Det.</button> -->
                    <button type="button" class="btn btn-primary btn-circle">Detalles</button>
                </td>
            </tr>            
        </tbody>
    </table>
</div>

<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th>Legajo</th>
        <th>Apellido</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Asd</td>
        <td>Asd</td>
        <td>Asd</td>
        <td>
            <button type="button" class="btn btn-info btn-circle">Det.</button>
        </td>
      </tr>     
    </tbody>
  </table> -->