<div class="mb-5">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of peliculas">
                <td>{{item.nombre}}</td>
                <td>{{item.tipo}}</td>
                <td>
                    <img [src]="item.foto" style="width: 150px; height: 125px;">
                </td>
                <td>
                    <button
                        type="button" class="btn btn-primary btn-circle"
                        (click)="onDetallesClick(item)"
                    >
                        Detalles
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>