<div *ngIf="!grilla" class="mb-5">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of peliculas">
                <td>{{item.nombre}}</td>
                <td>{{item.tipo}}</td>
                <td>
                    <img [src]="item.foto" style="width: 150px; height: 125px;">
                </td>
                <td>
                    <button
                        type="button" class="btn btn-primary btn-circle"
                        (click)="onDetallesClick(item)"
                    >
                        Detalles
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="grilla" class="my-5 row">
    <div class="col-4" *ngFor="let item of peliculas">
        <input
            type="image"
            [src]="item.foto"
            style="width: 100%; height: 30vh"
            (click)="onDetallesClick(item)"
        />
    </div>
</div>

<button
        type="button" class="btn btn-primary btn-circle mb-5"
        (click)="this.grilla = !this.grilla"
    >
    Cambiar vista
</button>