<main>
    <div class="container py-4">

      <app-tabla-pelicula [peliculas]="jsonPeliculas" (peliculaSeleccionada)="this.pelicula = $event"></app-tabla-pelicula>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-4">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Add borders</h2>
            <p>Or, keep it light and add a border for some added 
              definition to the boundaries of your content.</p>
            <button class="btn btn-outline-secondary" type="button">Example button</button>
          </div>
        </div>

        <div class="col-md-4">
          <app-detalle-pelicula [pelicula]="this.pelicula"></app-detalle-pelicula>
        </div>

        <div class="col-md-4">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Add borders</h2>
            <p>Or, keep it light and add a border for some added 
              definition to the boundaries of your content.</p>            
            <button class="btn btn-outline-secondary" type="button">Example button</button>
          </div>
        </div>
      </div>  
      <footer class="pt-3 mt-4 text-muted border-top">
        © 2021
      </footer>
    </div>
</main>